<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android" 
        xmlns:cdv="http://cordova.apache.org/ns/1.0"
        id          = "ru.dreamkastest.app"
        versionCode = "10"
        version     = "1.0.0">

    <name>ТЕСТ. kabinet.dreamkas.ru</name>

    <description>
        ru.dreamkastest.app
    </description>

    <author>Tadapp</author>

    <preference name='phonegap-version' value='cli-9.0.0' />

    <plugin name='cordova-plugin-splashscreen' />
    <plugin name='cordova-plugin-inappbrowser' />

    <gap:plugin name='onesignal-cordova-plugin' spec='2.4.5' source='npm' />

    <preference name='android-build-tool' value='gradle' />
    <preference name="android-targetSdkVersion" value="28" />
    <preference name='orientation' value='portrait' />

    <preference name='windows-appx-target' value='8.1-phone' />
    <preference name='WindowsToastCapable' value='true' />

    <preference name="SplashMaintainAspectRatio" value="true" />
    <preference name="SplashScreenSpinnerColor" value="#007BFF" />
    
    <platform name="android">
      <edit-config file="app/src/main/AndroidManifest.xml" mode="merge" target="/manifest/application">
          <application android:usesCleartextTraffic="true" />
      </edit-config>
    </platform>


    <platform name="android">
        <icon src="res/android/icon/93db02d468867818ba15b2a69bda3d46.png" density="ldpi" />
        <icon src="res/android/icon/7fb774b7a06f5e85e5a76ccdc965a2a8.png" density="mdpi" />
        <icon src="res/android/icon/73d6c6775560a7ed0ff1a0d6ef3c9520.png" density="hdpi" />
        <icon src="res/android/icon/96dff6030fc2d28b079186fb2987337f.png" density="xhdpi" />
        <icon src="res/android/icon/fea3acb52c1f1b177eed908c152b6bee.png" density="xxhdpi" />
        <icon src="res/android/icon/5a4c6541126c235f6c8dd525776bfa36.png" density="xxxhdpi" />

        <splash src="res/android/screen/7b267b7605d32fdb379c5e1ebdcfdc73.png" density="port-hdpi"/>
        <splash src="res/android/screen/19a096da5d52c7faa4f9ce6e8207992e.png" density="port-ldpi"/>
        <splash src="res/android/screen/a2cdaddb8d214a8f46322b95d596cca4.png" density="port-mdpi"/>
        <splash src="res/android/screen/2643779edb1abbc1699701905b8027c9.png" density="port-xhdpi"/>
    </platform>

    <platform name="ios">
        <icon src="res/ios/icon/0072c7a191f6e25a435a4a9eda64da96.png" width="180" height="180" />
        <icon src="res/ios/icon/035e0d96f5d4c128ffc9d118f7eefa5e.png" width="60" height="60" />
        <icon src="res/ios/icon/767ea688ddffa808fa93cca461b17d0f.png" width="120" height="120" />
        <icon src="res/ios/icon/d7bd198613addea1ec38110544e87a42.png" width="76" height="76" />
        <icon src="res/ios/icon/310d4dad9ce2c9bc571e21f5a47f8dae.png" width="152" height="152" />
        <icon src="res/ios/icon/eb14f84119853bf86eef0ce808c15bfa.png" width="57" height="57" />
        <icon src="res/ios/icon/b864097f74938e9a1be359cee03b88bd.png" width="114" height="114" />
        <icon src="res/ios/icon/1e47c22fe595782f19f2c1665abfe864.png" width="72" height="72" />
        <icon src="res/ios/icon/0b550afc2a280e18cb8752a224c019bc.png" width="144" height="144" />
        <icon src="res/ios/icon/d87ddb5925314e0c465e8571d9dae6e3.png" width="167" height="167" />
        <icon src="res/ios/icon/17de7061848bfcc419be44183d415e69.png" width="29" height="29" />
        <icon src="res/ios/icon/9682d5e20679fe8eea07f4cecb2eeb93.png" width="58" height="58" />
        <icon src="res/ios/icon/67f9a5d6f47655d381f9286e70dc2940.png" width="87" height="87" />
        <icon src="res/ios/icon/3c83df4f08790d2e64a19c3c60e7fe00.png" width="167" height="167" />

        <splash src="res/ios/screen/9d7712017ad1cd21df358150722bc00d.png" />
        <splash src="res/ios/screen/3a662896e7a2be9cea83256c97787c5e.png" />
        <splash src="res/ios/screen/7c8c1d9f529cb7c07e7e288ccc1c5f2e.png" />
        <splash src="res/ios/screen/3d4d27399ec2a0548df3eb2b9778e372.png" />
        <splash src="res/ios/screen/95160edeb951c3c90fa85cff379c6ec1.png" />
        <splash src="res/ios/screen/91f1de422a7b5a6cc5d987aa30e9615b.png" />
    </platform>

    <platform name="winphone">
        <icon src="res/windows/icon/e2338dda638a43f407f069790f074060.png" target="StoreLogo" />
        <icon src="res/windows/icon/1073d047706ff14c6d346c24c9a5c261.png" target="Square30x30Logo" />
        <icon src="res/windows/icon/78e6d0798e8e8816380a83ef160cf58c.png" target="Square44x44Logo" />
        <icon src="res/windows/icon/87a749c6c2841fb31d682341a412f8ed.png" target="Square70x70Logo" />
        <icon src="res/windows/icon/a234dc11872c97702d37787cbc4aec30.png" target="Square71x71Logo" />
        <icon src="res/windows/icon/97f398b982ae81920a73915be60d9370.png" target="Square150x150Logo" />
        <icon src="res/windows/icon/07b9279b0d33ed14b927828441eb33a9.png" target="Square310x310Logo" />

        <splash src="res/windows/screen/5f05934e11b9bbb6e97fc53453996da3.png" target="SplashScreen"/>
        <splash src="res/windows/screen/81168b6206e5dc036837d85a90a2bd84.png" target="SplashScreenPhone"/>
    </platform>

    <access origin='*'/>
    <plugin name='cordova-plugin-whitelist' />
    <allow-intent href='http://*/*'/>
    <allow-intent href='https://*/*'/>
    <allow-intent href='tel:*'/>
    <allow-intent href='sms:*'/>
    <allow-intent href='mailto:*'/>
    <allow-intent href='geo:*'/>

</widget>